@use 'variables' as *;
@use 'mixins' as m;
@use 'reset';


.footer {
    @include m.conquer-tech-bg;
    color: $text-light;
    text-align: center;

    > .container {
        position: relative;
        z-index: 1;
    }

    .btn-whatsapp {
        display: inline-block;
        margin-top: 1.5rem;
        background-color: #25d366;
        color: white;
        padding: 0.8rem 1.5rem;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
    }
}