@use 'variables' as *;
@use 'reset';


.footer {
    background-color: $primary-color;
    color: $text-light;
    text-align: center;

    .btn-whatsapp {
        display: inline-block;
        margin-top: 1.5rem;
        background-color: #25d366;
        color: white;
        padding: 0.8rem 1.5rem;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
    }
}