@use './variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: v.$primary-font;
    color: v.$text-main;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}